@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
      /* // INITIALIZE */
  
      /* PRIMARY COLOR */
      --clr-primary: hsl(349, 100%, 35%);
      --clr-primary-alt: hsl(1, 79%, 54%); 
  
      --clr-base-text: var(--clr-gray-500); 
  
      --clr-gray-200: hsl(0, 0%, 96%); 
      --clr-gray-300: hsl(0, 0%, 83%); 
      --clr-gray-400: hsl(0, 0%, 74%);
      --clr-gray-500: hsl(0, 0%, 40%);
      /**/
  
      /* ... */
  
      /* THEMING */
      --theme-clr-primary: 349deg 100% 35%;
      --theme-clr-primary-alt: 1deg 79% 54%;
      --on-theme-clr-primary: 0deg 0% 100%;
  
      /* ... */
    }
  
  
    
    @media (prefers-color-scheme: dark) {
      :root {
        /* PRIMARY COLOR DARK MODE*/
      --theme-clr-primary: 349deg 100% 35%;
      --on-theme-clr-primary: 0deg 0% 100%;
  
        /**/
  
        /* THEMING */
        /**/
      }
    }
  
    :root[data-theme="dark"] {
      /* PRIMARY COLOR DARK MODE*/
      --theme-clr-primary: 349deg 100% 35%;
      --on-theme-clr-primary: 0deg 0% 100%;
  
      /**/
  
  
      /**/
    }
  }
  