@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@layer base {
  :root {
    /* PRIMARY COLOR */
    --clr-primary: hsl(349, 100%, 35%);
    --clr-primary-alt: hsl(1, 79%, 54%);
    --clr-base-text: var(--clr-gray-500);
    --clr-gray-200: hsl(0, 0%, 96%);
    --clr-gray-300: hsl(0, 0%, 83%);
    --clr-gray-400: hsl(0, 0%, 74%);
    --clr-gray-500: hsl(0, 0%, 40%);
    /**/
    /* ... */
    /* THEMING */
    --theme-clr-primary: 349deg 100% 35%;
    --theme-clr-primary-alt: 1deg 79% 54%;
    --on-theme-clr-primary: 0deg 0% 100%;
    /* ... */
  }
  @media (prefers-color-scheme: dark) {
    :root {
      /* PRIMARY COLOR DARK MODE*/
      --theme-clr-primary: 349deg 100% 35%;
      --on-theme-clr-primary: 0deg 0% 100%;
      /**/
      /* THEMING */
      /**/
    }
  }
  :root[data-theme=dark] {
    /* PRIMARY COLOR DARK MODE*/
    --theme-clr-primary: 349deg 100% 35%;
    --on-theme-clr-primary: 0deg 0% 100%;
    /**/
    /**/
  }
}
:root {
  /* TYPOGRAPHY */
  --ff-primary: "Open Sans", sans-serif;
  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);
  /* FONT SIZES */
  --fs-50: 0.81rem; /*13px*/
  --fs-100: 0.88rem; /*14px*/
  --fs-150: 0.94rem; /*15px*/
  --fs-200: 1rem; /*16px*/
  --fs-300: 1.38rem; /*22px*/
  --fs-400: 1.56rem; /*25px*/
  --fs-500: 2.5rem; /*40px*/
  --fs-600: 4.38rem; /*70px*/
  /* SIZES */
  --size-200: 0.2rem;
  --size-250: 0.313rem; /* 5px */
  --size-300: 0.5rem;
  --size-400: 1rem;
  --size-500: 1.5rem;
  --size-600: 2rem;
  /* FONT WEIGHT */
  --fw-light: 300;
  --fw-regular: 400;
  --fw-semi-bold: 600;
  --fw-bold: 700;
}

@media (max-width: 50em) {
  :root {
    --size-400: 0.6rem;
    --size-500: 1.1rem;
    --size-600: 1.7rem;
    --fs-300: 1.18rem;
    --fs-400: 1.3rem;
    --fs-500: 2.1rem;
    --fs-600: 2.7rem;
    --fs-button: var(--fs-100);
  }
}
.ff-title {
  font-family: var(--ff-secondary);
}

.ff-body {
  font-family: var(--ff-body) !important;
}

.fs-400 {
  font-size: var(--fs-400);
}

/* Line Heights */
.line-height-300 {
  line-height: var(--fs-300);
}

.line-height-400 {
  line-height: var(--fs-400);
}

* {
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  width: 100%;
  color: var(--clr-base-text);
  margin: 0;
  padding: 0;
  font-family: var(--ff-body);
  position: relative;
  background-image: url(https://lr.instantbillspay.com/assets/commonnewer/img/new_bg_0.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
html *:focus,
body *:focus {
  box-shadow: none;
  outline: 0;
}

html {
  scroll-behavior: smooth;
}

/* minimum media query */
/* maximum media query */
/* maximum and minimum query */
/* tranform effects */
/* transition effects */
/* form control appearance */
/* 'before' pseudo element style */
/* 'after' pseudo element style */
/* padding-block size */
@media (max-width: 768px) {
  .sidenav {
    width: 100%;
    left: 0;
    transition: left 250ms ease-in;
  }
  .sidenav.hide {
    left: -100%;
    transition: left 250ms ease-out;
  }
}
.brand-link-card .floater {
  top: 2em;
  bottom: 0;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 320ms ease-in;
}
.brand-link-card:hover .floater {
  transform: scaleY(1);
  transition: transform 320ms ease-out;
}

/* width */
::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--clr-primary);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

label.required {
  display: flex;
  gap: 2px;
}
label.required:after {
  content: "*";
  color: red;
  display: block;
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
}

.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  --c: no-repeat radial-gradient(farthest-side, var(--clr-primary) 92%, #0000);
  background: var(--c) 50% 0, var(--c) 50% 100%, var(--c) 100% 50%, var(--c) 0 50%;
  background-size: 12px 12px;
  animation: l12 1s infinite;
}

.loader::before {
  margin: 4px;
  filter: hue-rotate(45deg);
  background-size: 8px 8px;
  animation-timing-function: linear;
}

@keyframes l12 {
  100% {
    transform: rotate(0.5turn);
  }
}
.page-loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(237, 241, 248, 0.7);
  z-index: 99999;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: none;
}
.page-loader.show {
  display: flex;
}

.custom-check input[type=checkbox] {
  position: absolute;
  left: -1000000000px;
}
.custom-check input[type=checkbox] + label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.custom-check input[type=checkbox] + label .fake-box {
  height: 17px;
  width: 17px;
  min-height: 17px;
  min-width: 17px;
  border-radius: 3px;
  border: 1px solid rgb(209, 213, 219);
  display: flex;
  align-items: center;
  justify-content: center;
}
.custom-check input[type=checkbox]:checked + label .fake-box {
  outline: var(--theme-clr-primary);
  box-shadow: var(--clr-primary);
  background-color: var(--clr-primary);
}
.custom-check input[type=checkbox]:checked + label .fake-box::before {
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: inherit;
  color: #FFFFFF;
  font-size: 0.75rem;
}

:root {
  --max-width: 1300px;
  --padding: 0.5rem;
}

.mg-main-container {
  width: min(var(--max-width), 100% - var(--padding) * 2);
  margin-inline: auto;
}

.mg-main-wrapper {
  width: 100%;
  max-width: var(--max-width);
  margin-inline: auto;
}

.base-text {
  color: var(--clr-base-text);
}

/*# sourceMappingURL=main.css.map */
