:root {
  // --max-width: 1680px;
  // --max-width: 1600px;
  // --max-width: 1440px;
  --max-width: 1300px;
  --padding: 0.5rem;
}

.mg-main-container {
  width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;

}

.mg-main-wrapper {
  width: 100%;
  max-width: var(--max-width);
  margin-inline: auto;
}
